html {
    padding: 0;
    margin: 0;
    min-width: 35%;
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    background-attachment: fixed;
    scroll-behavior: smooth;
}

body {
    z-index: 0;
    font-family: 'Montserrat', sans-serif;
}

#stars-wrapper {
    position: fixed;
    background: transparent;
    width: 100%;
    height: 100%;
    transform: translate(0vw, 0vh);
    transition: transform linear 1.5s, opacity 1.5s ease;
    z-index: -1;
}

#stars-wrapper > div {
    transition: transform linear 1.5s, opacity 1.5s ease;
}

#stars-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 1px;
    background: white;
    transform: translate(-50%, -50%);
    transition: transform 0.15s ease-out;
    pointer-events: none;
}

#stars-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 2px;
    background: white;
    transform: translate(-50%, -50%);
    transition: transform 0.15s ease-out;
    pointer-events: none;
}

#stars-3 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3px;
    height: 3px;
    background: white;
    transform: translate(-50%, -50%);
    transition: transform 0.15s ease-out;
    pointer-events: none;
}

#background-canvas {
    left: 0;
    position: fixed;
    image-rendering: pixelated;
    pointer-events: none;
    z-index: -1;
}

.enabled {
    pointer-events: all;
    opacity: 1;
}

.disabled {
    pointer-events: none;
    opacity: 0;
}

::-webkit-scrollbar {
  background-color: inherit;
  width: 10px;
}

::-webkit-scrollbar-track {
    background: #090a0f;
}

::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 5px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    -webkit-text-fill-color: transparent !important;
    /* Optional: To ensure the background clip is text based */
    -webkit-background-clip: text; 
}